name: Deploy to Azure App Service

on:
  push:
    branches:
      - main  # このブランチにプッシュされた時にワークフローがトリガーされます。

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest  # GitHub Actions ランナーの仕様

    steps:
    - uses: actions/checkout@v2  # リポジトリのコードをチェックアウト

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.12.2'  # 使用する Node.js のバージョン

    - name: Install dependencies
      run: npm install  # 依存関係のインストール

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.TSUTOMUTESTSECRET }} 

    - name: Allow GitHub Actions IP ranges to access SCM
      shell: pwsh
      run: |
        # GitHub ActionsのIPレンジを許可
        $GITHUB_ACTIONS_IP_RANGES = (Invoke-RestMethod -Uri "https://api.github.com/meta").actions
        $priority = 100
        foreach ($ip in $GITHUB_ACTIONS_IP_RANGES) {
          az webapp config access-restriction add --resource-group 2405070060001008githubaction --name ${{ secrets.AZURE_APP_NAME }} --rule-name AllowGitHubActions_$ip --action Allow --ip-address $ip --priority $priority --scm-site true
          $priority++
        }

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ secrets.AZURE_APP_NAME }}  # App Service の名前
        slot-name: 'production'  # デプロイスロット
        package: '.'  # デプロイするディレクトリまたはファイル

    - name: Remove GitHub Actions IP ranges from SCM access
      shell: pwsh
      run: |
        # デプロイ後にIPレンジの許可を取り消す
        $GITHUB_ACTIONS_IP_RANGES = (Invoke-RestMethod -Uri "https://api.github.com/meta").actions
        foreach ($ip in $GITHUB_ACTIONS_IP_RANGES) {
          az webapp config access-restriction remove --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }} --name ${{ secrets.AZURE_APP_NAME }} --rule-name AllowGitHubActions_$ip --scm-site true  # --identity オプションを削除
        }

    - name: Logout from Azure
      run: az logout