name: Deploy to Azure App Service

on:
  push:
    branches:
      - main  # このブランチにプッシュされた時にワークフローがトリガーされます。

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest  # GitHub Actions ランナーの仕様

    steps:
    - uses: actions/checkout@v2  # リポジトリのコードをチェックアウト

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.12.2'  # 使用する Node.js のバージョン

    - name: Install dependencies
      run: npm install  # 依存関係のインストール

    - name: Allow GitHub Actions IP ranges to access SCM
      run: |
        GITHUB_ACTIONS_IP_RANGES=$(curl -s https://api.github.com/meta | jq -r '.actions[]')
        priority=100
        for ip in $GITHUB_ACTIONS_IP_RANGES; do
          az webapp config access-restriction add --resource-group "2405070060001008githubaction" --name ${{ secrets.AZURE_APP_NAME }} --rule-name AllowGitHubActions_$ip --action Allow --ip-address $ip --priority $priority --scm-site true
          priority=$$((priority + 1))
          done

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ secrets.AZURE_APP_NAME }}  # App Service の名前
        slot-name: 'production'  # デプロイスロット
        package: '.'  # デプロイするディレクトリまたはファイル

    - name: Logout from Azure
      run: az logout